@font-face {
  font-family: 'OpenSansRegular';
  src: url('/css/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/OpenSans-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('/css/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  		 url('/css/fonts/OpenSans-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('/css/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/OpenSans-ExtraBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'RalewayRegular';
  src: url('/css/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  		 url('/css/fonts/Raleway-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'RalewayBold';
  src: url('/css/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  		 url('/css/fonts/Raleway-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url('/css/fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
  		 url('/css/fonts/Raleway-SemiBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'RalewayExtraBold';
  src: url('/css/fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
  		 url('/css/fonts/Raleway-ExtraBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'RalewayLight';
  src: url('/css/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
  		 url('/css/fonts/Raleway-Light.ttf')  format('truetype');
}
