#about
	p We are <strong>creative people</strong> with 5 years experiences  in <strong>web</strong>  and <strong>mobile app development</strong.
	p Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempori.

	.detail.first
		img(src="/img/about_1.png")
		h3 Many Variations
		p Excepteur sint occaecat cupidatat non proident sunt in culpa qui.
		
	.detail
		img(src="/img/about_2.png")
		h3 On Time
		p Excepteur sint occaecat cupidatat non proident sunt in culpa qui.
		
	.detail
		img(src="/img/about_3.png")
		h3 Unlimited Revisions
		p Excepteur sint occaecat cupidatat non proident sunt in culpa qui.
		
	.detail
		img(src="/img/about_4.png")
		h3 Retina Ready
		p Excepteur sint occaecat cupidatat non proident sunt in culpa qui.
		
	.detail
		img(src="/img/about_5.png")
		h3 Full Support
		p Excepteur sint occaecat cupidatat non proident sunt in culpa qui.
