#social
	a(href="#")
		i(class="icon-twitter")
	a(href="#")
		i(class="icon-facebook")
	a(href="#")
		i(class="icon-google-plus")
	a(href="#")
		i(class="icon-pinterest")
	a(href="#")
		i(class="icon-linkedin")
	a(href="#")
		i(class="icon-dribbble")
	a(href="#")
		i(class="icon-instagram")